<div class="product">
  <div class="image">
    <span class="favorite" (click)="addTowishlist(item.id)">
      <img src="{{assets_url}}/images/favorite.svg" alt="">
      </span>
    <a (click)="routeToProductURL()">
      <img [src]="item.url_img">
    </a>
  </div>
  <div class="text" (click)="routeToProductURL()">
      <h3>{{ item.name }}</h3>
      <span class="price_less"> {{ item.list_price | currencyChange:currency:coefficient | currency:currency }}</span>
      <span class="price">{{ item.discount_price | currencyChange:currency:coefficient | currency:currency }}</span>
  </div>
</div>
