  <li *ngFor="let category of categories">
    <div
      *ngIf="product_type===category.name || !product_type">
      <a
        [queryParams]="getCategoryLink(category.name)"
        [routerLink]="['/']"
        [class]="product_type?'category-text-active font-italic':'category-text font-italic'"
      ><span><img src="{{assets_url}}/images/circle.svg" alt=""></span>
        {{category.name | underscoreKiller }}
      </a>
      <div *ngIf="product_type===category.name">
        <a
          [queryParams]="getSubcategoryLink(subcategory)"
          [routerLink]="['/']"
          *ngFor="let subcategory of category.subcategories"
          class="subcategory-text font-italic">
          <span><img src="{{assets_url}}/images/circle.svg" alt=""></span>
          {{ subcategory | underscoreKiller }}
        </a>
      </div>
    </div>
  </li>

