@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1300px) {
.menu_main {
    padding: 0 0px 0 40px;
    width: 30%;
}
.wishlist_sec_right {
    width: 70%;
}
.wishlist_sec_right ul li {
    padding: 9px 18px 9px 0;

}

}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

.modal {
    top: 0;
}

}

@media screen and (max-width: 991px) {

.menu_main {
    padding: 0 0px 0 40px;
    width: 100%;
}
.wishlist_sec_right {
    width: 100%;
     text-align: center;

}
.wishlist_sec_right ul li {
    padding: 9px 18px 9px 0;

}

}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
   #content {
    width: 100%;
    padding: 15px 15px;
}
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
.fixed-top {
    display: none;
}
.menu_main {
    width: 100%;
    padding: 0 0 0;
}

.fixed-top_mob{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.user-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    margin: 15px 0 15px 0;
}
.nav_main {
    border-top: 1px solid #47495D;
    margin: 15px 0 15px 0;
}
.user-links a {
    padding: 10px 0;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
     font-family: 'poppinsregular';
    font-weight: normal;
    font-style: normal;
}
.dot {
    color: #ffffff;
    width: 34px;
    display: inline-block;
    text-align: center;
}
.menu_main ul li {
    width: 100%;
}
.menu_main ul li a {
    padding: 14px 18px 14px 0;
    font-family: 'poppinsregular';
    font-weight: normal;
    font-style: normal;
    border-top: 1px solid #47495D;
    width: 100%;
}
}

@media screen and (max-width: 767px) {
.mobile_menu
{
    display: block;

}
.bg-dark {
    background-color: #3D3F53 !important;
}
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

.modal-backdrop{
  display: none !important;
}
.modal{
  background: rgba(2, 2, 2, 0.44);
}
