{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Infinity Supply </title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'ang/favicon.png'%}">
    <!-- Bootstrap -->
    <link href="{% static 'ang/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- uikit-css -->
    <!-- fontawsome-css -->
    <link href="{% static 'ang/assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- style-css -->
    <link href="{% static 'ang/assets/css/mystyle.css' %}" rel="stylesheet">
    <link href="{% static 'ang/assets/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ang/styles.css' %}"></head>
<body>
    <h1>This is web app</h1>
  
</body>
</html>
